<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<div class="bg-dark text-white" id="footer" th:fragment="footer">
    <div class="container-fluid page__container">
        <div class="row">
            <div class="col-md-3">
                <a href="/index.html" class="brand d-flex align-items-center mb-4">
                                <span class="mr-2">
                                    <!-- LOGO -->
                                    <span><img src="/assets/icons/tekshila.png" class="mb-1" style="width:50px;" alt="logo"></span>
                                </span>
                    Tekshila
                </a>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <h5>Student</h5>
                        <ul class="list-group list-group-flush mb-3">
                            <li class="">
                                <a href="#">Courses</a>
                            </li>
                            <li class="">
                                <a href="#">Take Course</a>
                            </li>
                            <li class="">
                                <a href="#">Profile</a>
                            </li>
                            <li class="">
                                <a href="#">Edit Account</a>
                            </li>
                        </ul>
                    </div>
                    <!--<div class="col-sm-6 col-md-3">-->
                        <!--<h5>Instructor</h5>-->
                        <!--<ul class="list-group list-group-flush mb-3">-->
                            <!--<li class="">-->
                                <!--<a href="#">Dashboard</a>-->
                            <!--</li>-->
                            <!--<li class="">-->
                                <!--<a href="#">Edit Course</a>-->
                            <!--</li>-->
                            <!--<li class="">-->
                                <!--<a href="#">Instructor Profile</a>-->
                            <!--</li>-->
                            <!--<li class="">-->
                                <!--<a href="#">Quizzes</a>-->
                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <div class="col-sm-6 col-md-3">
                        <h5>Account</h5>
                        <ul class="list-group list-group-flush mb-3">
                            <li class="">
                                <a href="#">Login</a>
                            </li>
                            <li class="">
                                <a href="#">Sign up</a>
                            </li>
                            <!---->
                            <!--<li class="">-->
                                <!--<a href="#">Edit Account</a>-->
                            <!--</li>-->
                            <!--<li class="">-->
                                <!--<a href="#">Payout</a>-->
                            <!--</li>-->
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <h5>Contact us</h5>
                        <!--<p class="text-light">Street Name, Suite 12<br /> Dublin, Ireland</p>-->
                        <p class="text-light">Email to tekshilaonline@gmail.com</p>
                        <div class="d-flex ">

                            <a href="" class="btn btn-facebook btn-rounded-social d-flex align-items-center justify-content-center mr-2"><i class="fab fa-facebook"></i></a>
                            <a href="" class="btn btn-twitter btn-rounded-social d-flex align-items-center justify-content-center mr-2"><i class="fab fa-twitter"></i></a>
                            <a href="" class="btn btn-secondary btn-rounded-social d-flex align-items-center justify-content-center mr-2"><i class="fab fa-github"></i></a>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>