/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
#login_bg, #register_bg, #admission_bg {
    background: url(../img/temple.jpg) center center no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}
